<a href="https://colab.research.google.com/github/KdrDrn-C8301Sam/01-DAwPy-NumPy/blob/main/01_01_Preparing_The_Data_For_Analysis(Student_C8301_Sam).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style='text-align: center;'>Traffic Police Stops<br>Part - 1</p><h1> - Preparing The Data For Analysis <img src='https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki' class='img-fluid' alt='CLRSWY' width='200' height='100'>

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import related libraries with their alias.
*   Read the file RI_cleaned.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Examine the last 5 rows of the ``DataFrame`` (known as the ``"tail"``).
*   Examine the ``DataFrame``'s ``"columns"``.
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

**Since the dataset has 509681 rows, you can work with the first 50000 rows if you wish.**

In [3]:
ri=pd.read_csv('RI_cleaned.csv')

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [7]:
ri.head().T

,0,1,2,3,4
id,RI-2005-00001,RI-2005-00002,RI-2005-00003,RI-2005-00004,RI-2005-00005
state,RI,RI,RI,RI,RI
stop_date,2005-01-02,2005-01-02,2005-01-04,2005-01-04,2005-01-06
stop_time,01:55,20:30,11:30,12:55,01:30
location_raw,Zone K1,Zone X4,Zone X1,Zone X4,Zone X4
county_name,NaN,NaN,NaN,NaN,NaN
county_fips,NaN,NaN,NaN,NaN,NaN
fine_grained_location,NaN,NaN,NaN,NaN,NaN
police_department,600,500,0,500,500
driver_gender,M,M,NaN,M,M
driver_age_raw,1985.0,1987.0,NaN,1986.0,1978.0
driver_age,20.0,18.0,NaN,19.0,27.0
driver_race_raw,W,W,NaN,W,B
driver_race,White,White,NaN,White,Black
violation_raw,Speeding,Speeding,NaN,Equipment/Inspection Violation,Equipment/Inspection Violation
violation,Speeding,Speeding,NaN,Equipment,Equipment
search_conducted,False,False,False,False,False
search_type_raw,NaN,NaN,NaN,NaN,NaN
search_type,NaN,NaN,NaN,NaN,NaN
contraband_found,False,False,False,False,False
stop_outcome,Citation,Citation,NaN,Citation,Citation
is_arrested,False,False,NaN,False,False
stop_duration,0-15 Min,16-30 Min,NaN,0-15 Min,0-15 Min
out_of_state,False,False,NaN,False,False
drugs_related_stop,False,False,False,False,False
district,Zone K1,Zone X4,Zone X1,Zone X4,Zone X4

In [6]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [8]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     509681 non-null  object
 1   state                  509681 non-null  object
 2   stop_date              509671 non-null  object
 3   stop_time              509671 non-null  object
 4   location_raw           509681 non-null  object
 5   county_name            0 non-null       float64
 6   county_fips            0 non-null       float64
 7   fine_grained_location  0 non-null       float64
 8   police_department      509671 non-null  object
 9   driver_gender          480584 non-null  object
 10  driver_age_raw         480632 non-null  float64
 11  driver_age             478986 non-null  float64
 12  driver_race_raw        480608 non-null  object
 13  driver_race            480608 non-null  object
 14  violation_raw          480608 non-null  object
 15  violation              480608 non-null  object
 16  search_conducted       509671 non-null  object
 17  search_type_raw        17762 non-null   object
 18  search_type            17762 non-null   object
 19  contraband_found       509681 non-null  bool
 20  stop_outcome           480608 non-null  object
 21  is_arrested            480608 non-null  object
 22  stop_duration          480608 non-null  object
 23  out_of_state           479800 non-null  object
 24  drugs_related_stop     509681 non-null  bool
 25  district               509681 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 94.3+ MB

In [10]:
ri=ri.iloc[:50000]
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [13]:
ri.tail().T

,49995,49996,49997,49998,49999
id,RI-2006-35917,RI-2006-35918,RI-2006-35919,RI-2006-35920,RI-2006-35921
state,RI,RI,RI,RI,RI
stop_date,2006-08-08,2006-08-08,2006-08-08,2006-08-08,2006-08-08
stop_time,22:45,22:45,22:53,23:00,23:00
location_raw,Zone K3,Zone K3,Zone X4,Zone K1,Zone K3
county_name,NaN,NaN,NaN,NaN,NaN
county_fips,NaN,NaN,NaN,NaN,NaN
fine_grained_location,NaN,NaN,NaN,NaN,NaN
police_department,300,300,500,600,300
driver_gender,M,F,M,F,M
driver_age_raw,1973.0,1971.0,1952.0,1982.0,1965.0
driver_age,33.0,35.0,54.0,24.0,41.0
driver_race_raw,B,B,W,W,W
driver_race,Black,Black,White,White,White
violation_raw,Equipment/Inspection Violation,Speeding,Speeding,Speeding,Speeding
violation,Equipment,Speeding,Speeding,Speeding,Speeding
search_conducted,False,False,False,False,False
search_type_raw,NaN,NaN,NaN,NaN,NaN
search_type,NaN,NaN,NaN,NaN,NaN
contraband_found,False,False,False,False,False
stop_outcome,Citation,Citation,Citation,Citation,Citation
is_arrested,False,False,False,False,False
stop_duration,0-15 Min,0-15 Min,16-30 Min,0-15 Min,16-30 Min
out_of_state,False,True,True,False,False
drugs_related_stop,False,False,False,False,False
district,Zone K3,Zone K3,Zone X4,Zone K1,Zone K3

In [11]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50000 non-null  object
 1   state                  50000 non-null  object
 2   stop_date              50000 non-null  object
 3   stop_time              50000 non-null  object
 4   location_raw           50000 non-null  object
 5   county_name            0 non-null      float64
 6   county_fips            0 non-null      float64
 7   fine_grained_location  0 non-null      float64
 8   police_department      50000 non-null  object
 9   driver_gender          48010 non-null  object
 10  driver_age_raw         48029 non-null  float64
 11  driver_age             47792 non-null  float64
 12  driver_race_raw        48012 non-null  object
 13  driver_race            48012 non-null  object
 14  violation_raw          48012 non-null  object
 15  violation              48012 non-null  object
 16  search_conducted       50000 non-null  object
 17  search_type_raw        2012 non-null   object
 18  search_type            2012 non-null   object
 19  contraband_found       50000 non-null  bool
 20  stop_outcome           48012 non-null  object
 21  is_arrested            48012 non-null  object
 22  stop_duration          48012 non-null  object
 23  out_of_state           47797 non-null  object
 24  drugs_related_stop     50000 non-null  bool
 25  district               50000 non-null  object
dtypes: bool(2), float64(5), object(19)
memory usage: 9.3+ MB

In [15]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [16]:
ri.shape

(50000, 26)

In [17]:
ri.drop(columns=["state", "county_name", "county_fips", "fine_grained_location", "search_type_raw", "search_type"], inplace=True)

In [18]:
ri.shape

(50000, 20)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [19]:
ri.isnull().sum()

id                       0
stop_date                0
stop_time                0
location_raw             0
police_department        0
driver_gender         1990
driver_age_raw        1971
driver_age            2208
driver_race_raw       1988
driver_race           1988
violation_raw         1988
violation             1988
search_conducted         0
contraband_found         0
stop_outcome          1988
is_arrested           1988
stop_duration         1988
out_of_state          2203
drugs_related_stop       0
district                 0
dtype: int64

In [25]:
ri[ri.driver_gender.isnull()]

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
2,RI-2005-00003,2005-01-04,11:30,Zone X1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
17,RI-2005-00018,2005-03-05,00:20,Zone X4,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X4
35,RI-2005-00036,2005-06-08,08:40,Zone X4,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X4
74,RI-2005-00075,2005-08-17,13:20,Zone X1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
75,RI-2005-00076,2005-08-17,15:59,Zone X1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49836,RI-2006-35758,2006-08-08,01:15,Zone X4,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X4
49848,RI-2006-35770,2006-08-08,06:45,Zone X1,000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
49937,RI-2006-35859,2006-08-08,14:30,Zone K2,900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone K2
49968,RI-2006-35890,2006-08-08,19:15,Zone X1,000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1
49982,RI-2006-35904,2006-08-08,21:10,Zone X1,000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False,Zone X1

In [26]:
ri.dropna(subset=["driver_gender"], inplace=True)

In [28]:
ri.isnull().sum()

id                      0
stop_date               0
stop_time               0
location_raw            0
police_department       0
driver_gender           0
driver_age_raw          0
driver_age            232
driver_race_raw         0
driver_race             0
violation_raw           0
violation               0
search_conducted        0
contraband_found        0
stop_outcome            0
is_arrested             0
stop_duration           0
out_of_state          215
drugs_related_stop      0
district                0
dtype: int64

In [29]:
ri.shape

(48010, 20)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the values of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [30]:
ri.is_arrested.value_counts(dropna=False)

False    45522
True      2488
Name: is_arrested, dtype: int64

In [32]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_date           48010 non-null  object
 2   stop_time           48010 non-null  object
 3   location_raw        48010 non-null  object
 4   police_department   48010 non-null  object
 5   driver_gender       48010 non-null  object
 6   driver_age_raw      48010 non-null  float64
 7   driver_age          47778 non-null  float64
 8   driver_race_raw     48010 non-null  object
 9   driver_race         48010 non-null  object
 10  violation_raw       48010 non-null  object
 11  violation           48010 non-null  object
 12  search_conducted    48010 non-null  object
 13  contraband_found    48010 non-null  bool
 14  stop_outcome        48010 non-null  object
 15  is_arrested         48010 non-null  object
 16  stop_duration       48010 non-null  object
 17  out_of_state        47795 non-null  object
 18  drugs_related_stop  48010 non-null  bool
 19  district            48010 non-null  object
dtypes: bool(2), float64(2), object(16)
memory usage: 7.1+ MB

In [34]:
ri.is_arrested.dtype

dtype('O')

In [37]:
ri.is_arrested=ri.is_arrested.astype(bool)

In [38]:
ri.is_arrested.dtype

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Get the first row of the data frame and see the dtypes of ``stop_date`` and ``stop_time`` columns.
*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Drop ``stop_date`` and ``stop_time`` columns from dataframe and check after dropping by getting first row.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [39]:
ri.head(1)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1

In [40]:
ri["combined"] = ri.stop_date +" "+ ri.stop_time

In [41]:
ri.head(1)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
0,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55

In [42]:
ri["stop_datetime"] = pd.to_datetime(ri.combined)

In [43]:
ri.combined.dtype

dtype('O')

In [46]:
ri.stop_datetime.dtypes

dtype('<M8[ns]')

In [47]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_date           48010 non-null  object
 2   stop_time           48010 non-null  object
 3   location_raw        48010 non-null  object
 4   police_department   48010 non-null  object
 5   driver_gender       48010 non-null  object
 6   driver_age_raw      48010 non-null  float64
 7   driver_age          47778 non-null  float64
 8   driver_race_raw     48010 non-null  object
 9   driver_race         48010 non-null  object
 10  violation_raw       48010 non-null  object
 11  violation           48010 non-null  object
 12  search_conducted    48010 non-null  object
 13  contraband_found    48010 non-null  bool
 14  stop_outcome        48010 non-null  object
 15  is_arrested         48010 non-null  bool
 16  stop_duration       48010 non-null  object
 17  out_of_state        47795 non-null  object
 18  drugs_related_stop  48010 non-null  bool
 19  district            48010 non-null  object
 20  combined            48010 non-null  object
 21  stop_datetime       48010 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](1), float64(2), object(16)
memory usage: 7.5+ MB

In [48]:
ri.drop(columns=["stop_date", "stop_time", "combined"], inplace=True)

***

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   First check out the shape of the dataframe.
*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Check again the shape of the dataframe to confirm that ``stop_datetime`` is no longer one of the columns. 
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [49]:
ri.shape

(48010, 19)

In [50]:
ri.set_index("stop_datetime", inplace=True)

In [51]:
ri.shape

(48010, 18)

In [57]:
ri.to_csv("RI_Part_1", index_label=False)

In [59]:
df = pd.read_csv("RI_Part_1")

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [60]:
df.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,False,Citation,False,30+ Min,True,False,Zone X1

In [61]:
df.shape

(48010, 18)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48010 entries, 2005-01-02 01:55:00 to 2006-08-08 23:00:00
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   location_raw        48010 non-null  object
 2   police_department   48010 non-null  object
 3   driver_gender       48010 non-null  object
 4   driver_age_raw      48010 non-null  float64
 5   driver_age          47778 non-null  float64
 6   driver_race_raw     48010 non-null  object
 7   driver_race         48010 non-null  object
 8   violation_raw       48010 non-null  object
 9   violation           48010 non-null  object
 10  search_conducted    48010 non-null  bool
 11  contraband_found    48010 non-null  bool
 12  stop_outcome        48010 non-null  object
 13  is_arrested         48010 non-null  bool
 14  stop_duration       48010 non-null  object
 15  out_of_state        47795 non-null  object
 16  drugs_related_stop  48010 non-null  bool
 17  district            48010 non-null  object
dtypes: bool(4), float64(2), object(12)
memory usage: 5.7+ MB

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

**- Please save the edits made so far to a new csv file with the name RI_Part_1 to use it in the next step.**

**- Load and read new csv file.**

**- Check the first five rows.***

**- Check the shape of the dataframe.**